<div class="mobile-container d-flex flex-column align-items-center gap-20 padding-horizontal-15">
  <%= render "shared/side_panel_header", title: "Tu veux faire quoi ?", back_button: true, back_path: culture_path(culture), delete_button: false %>
  <div class="form-container w-100 d-flex flex-column">
    <%# choix de la culture %>
    <%= form_with model: [culture, task], local: true, class:"w-100" do |f| %>
      <div class="position-relative">
        <i class="fa-solid fa-pen fs-6 icon-pen-input-position"></i>
        <%= f.text_field :name, placeholder: "nom de ta tâche", class: task.errors.any? ? "custom-input back-gray-input border-danger" : "custom-input back-gray-input"%>
      </div>
      <%# choix de la date %>
      <div >
        <%= f.date_field :date, class: "custom-input back-gray-input", value: Date.today%>
      </div>
      <%# renseignement du nom de tâche %>
      <div class="position-relative">
        <i class="fa-solid fa-pen fs-6 icon-pen-input-position"></i>
        <%= f.text_field :description, placeholder: "détails de ta tâche", class: task.errors.any? ? "custom-input back-gray-input border-danger" : "custom-input back-gray-input"%>
      </div>
      <%# validation %>
      <div class="btn-submit">
        <%= f.submit "C'est calé !", class: "text-white h-64 btn btn-warning w-100 rounded-50 p-3 fs-5" %>
      </div>
    <% end %>
  </div>
</div>
