<%= turbo_frame_tag task do %>
  <div class="p-2">
    <div class="task-description text-white fs-4">
      <%= task.description.capitalize %>
    </div>
    <div class="d-flex w-100 gap-2 mt-2">
      <%= link_to valid_task_task_path(task), data: { turbo_method: :patch } do%>
        <i class="picto-bas <%= task.done ?  "fi fi-ss-check-circle" : "fi fi-rs-check-circle"%>"></i>
      <%end%>
    <% end %>
    <%= link_to edit_task_path(task.id) do %>
      <div class="picto-bas">
        <i class="fi fi-rr-time-forward"></i>
      </div>
    <% end %>
  </div>
</div>
