<div class="mobile-container d-flex flex-column align-items-center gap-20">
  <!-- TODO: Hotwire reload -->
  <div>
    <h1>Tâches du jour</h1>
    <h2><%= @date %></h2>
  </div>
  <% if @grouped_task.nil? %>
    <p>NO TASKS</p>
  <% else %>
    <% @grouped_task.each do |key, value| %>
      <%# affiche la key qui correspond au nom d'une culture %>
      <% key %>+
      <br>
      <%# itère sur les taches associées à cette culture pour afficher leur nom %>
      <% value.each do |task| %>
        <% if task.culture.name.include?("Tomate") %>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4><%= task.culture.name %></h4>
                  <h5 class="card-title"><%= task.name %></h5>
                  <p class="card-text" class='<%= task.category_picto%>'><%= task.description %>
                    <br>
                    <%= link_to "Reporter", edit_task_path(task.id) %>
                    <%# TODO :  affichage conditionnel si done = false, sinon on voit pas le bouton %>
                    <%= link_to "Fait !", validate_task_path(task.id) , data: { turbo_method: :patch }%>
                    <%= link_to "Détails", description_task_path(task.id) %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
