<div class="container" data-controller="calendar">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-sm-offset-2">
      <%= month_calendar events: @tasks do |date, tasks| %>
        <%= l(date, format: :default) %>
        <% tasks.each do |task| %>
          <%= link_to tasks_path(date: task.date) do %>
            <%= task.name %> tes
            <p>
              <%= task.culture.name %>s
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
