<div class="mobile-container d-flex flex-column align-items-center gap-20">
  <!-- TODO: Hotwire reload -->
  <div>
    <div class="date-task">
      <h1>Tâches du <%= I18n.l(@en_date, format: "%d %B") %></h1>
    </div>
    <% if @grouped_task == {} %>
      <h2>Pas de tache aujourd'hui.</h2>
    <% else %>
      <% @grouped_task.each do |culture, tasks| %>
        <div class="culture-card row col-sm-6 card row col-sm-6 card card-body card-title task-card">
          <% culture = Culture.find_by(name: culture) %>
          <div class="row col-sm-6 card card-body card-title task-card w-100" data-controller="toggle">
            <div class="culture-name">
              <h2 class="montserrat"><%= culture.name.upcase %></h2>
            </div>
            <div class='d-flex w-100 gap-1 justify-content-between'>
              <div class='d-flex gap-1 max-w'>
                <% tasks.each do |task| %>
                  <div class="picto-task">
                    <i class='<%= task.category_picto%>'></i>
                  </div>
                <% end %>
              </div>
              <div class="picto-coche" data-toggle-target="tourne">
                <i class="fa-solid fa-circle-chevron-down fa-2xl" style="color: #FFFFFF;" data-action="click->toggle#fire"></i>
              </div>
            </div>
            <div class="d-none w-100 mt-3" data-toggle-target="togglableElement">
              <% tasks.each do |task| %>
                <div class='task-details p-2'>
                  <div class="task-description">
                    <%= task.description.capitalize %>
                  </div>
                  <div class="d-flex w-100 gap-2 mt-2">
                    <% if task.done == true %>
                      <div class="picto-bas">
                        <i class="fi fi-ss-check-circle"></i>
                      </div>
                    <% else %>
                      <%= link_to validate_task_path(task), data:{turbo_method: :patch} do %>
                        <div class="picto-bas">
                          <i class="fi fi-rs-check-circle"></i>
                        </div>
                      <% end %>
                    <% end %>
                    <%= link_to edit_task_path(task.id) do %>
                      <div class="picto-bas">
                        <i class="fi fi-rr-time-forward"></i>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
