<!-- honeycomb  -->
<!-- data-controller="hexagones"  -->
<div class="flex flex-col items-center">
  <div class="flex flex-col mt-6">
    <div class="hexa-container">
      <!-- 12 - 13 -->
      <%= render "repeated_hexa", cultures:, startrange: 11, endrange: 13, numberplace: 3 %>
      <!-- TODO: À retirer : 14 TEST DIALOG SIDE PANEL -->
      <!-- <div class="hexa" data-action="click->honeycomb#open"></div> -->
    </div>
    <div class="hexa-container even-container">
      <!-- 10 - 11 -->
      <%= render "repeated_hexa", cultures:, startrange: 9, endrange: 10, numberplace: 2 %>
    </div>
    <div class="hexa-container">
      <!-- 7 - 8 - 9-->
      <%= render "repeated_hexa", cultures:, startrange: 6, endrange: 8, numberplace: 3 %>
    </div>
    <div class="hexa-container even-container">
      <!-- 1 - 2 -->
      <%= render "repeated_hexa", cultures:, startrange: 0, endrange: 1, numberplace: 2 %>
    </div>
    <div class="hexa-container">
      <!-- 3 -->
      <%= render "repeated_hexa", cultures:, startrange: 2, endrange: 2, numberplace: 1 %>
      <!-- ADD BUTTON-->
      <%= link_to new_culture_path do %>
        <div class="hexa add-button">
          <i class="fa-solid fa-plus fs-64"></i>
        </div>
      <%end%>
      <!-- 4 -->
      <%= render "repeated_hexa", cultures:, startrange: 3, endrange: 3, numberplace: 1 %>
    </div>
    <div class="hexa-container even-container">
      <!-- 5 - 6 -->
      <%= render "repeated_hexa", cultures:, startrange: 4, endrange: 5, numberplace: 2 %>
    </div>
  </div>
</div>
<!-- DIALOG -->
<div data-action="click->honeycomb#clickOutside">
  <dialog class="side-panel" data-honeycomb-target="dialog">
  </dialog>
</div>
<!-- DIALOG -->
