<!-- TODO: Hotwire reload -->
<%= turbo_frame_tag task do%>
  <%= link_to validate_task_path(task.id), data: { turbo_method: :patch } do%>
    <li class="btn btn-primary task-list d-flex justify-content-between align-items-center text-white px-2 m-1 <%= task.done ? 'opacity-50' : ''%>">
      <p class="m-0"><%= task.name%></p>
      <p class="m-0"><%= I18n.l(task.date, format: "%d %b") %></p>
      <i class="<%= task.done ?  "fi fi-ss-check-circle" : "fi fi-rs-check-circle"%>"></i>
    </li>
  <%end%>
<%end%>
