
<div class="mobile-container bg-primary text-white d-flex flex-column align-items-center gap-20">
  <h1 class="fs-1 text-white fw-bold">Ma nouvelle culture</h1>
  <%= form_with(model: Culture.new, local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :name, "Nom de la culture", class: "form-label" %>
      <%= f.select :name, Culture::CULTURE_NAME,
                   { prompt: "Choisissez une culture", selected: Culture::CULTURE_NAME.first },
                   { class: "custom-input back-green-input select_culture" } %>
    </div>

    <div class="mb-3">
      <%= f.label :plantation_date, "Date de plantation", class: "form-label" %>
      <%= f.date_field :plantation_date, class: "custom-input back-green-input" %>
    </div>

    <div class="radio-container">
      <div class="radio-group">
        <div class="radio-option">
          <%= f.radio_button :outdoor, 'true', class: 'form-check-input' %>
          <%= f.label :outdoor, 'en extérieur', class: 'form-check-label' %>
        </div>
      <div class="radio-option">
          <%= f.radio_button :in_ground, 'true', class: 'form-check-input' %>
          <%= f.label :in_ground, "en pleine terre", class: 'form-check-label' %>
        </div>
      </div>

      <div class="radio-group">
        <div class="radio-option">
          <%= f.radio_button :outdoor, 'false', class: 'form-check-input' %>
          <%= f.label :outdoor, 'en intérieur', class: 'form-check-label' %>
        </div>
        <div class="radio-option">
          <%= f.radio_button :in_ground, 'false', class: 'form-check-input' %>
          <%= f.label :in_ground, 'en pot', class: 'form-check-label' %>
        </div>
      </div>
    </div>


    <div class="mb-3">
      <%= f.label :status, "Statut", class: "form-label" %>
      <%= f.select :status, Culture::CULTURE_STATUS,
                   { prompt: "Choisissez un statut", selected: Culture::CULTURE_STATUS.first },
                   { class: "custom-input back-green-input select_culture"  } %>
    </div>

    <div class="mb-3">
      <%= f.submit "Ajouter cette culture", class: "btn btn-warning w-100 h-64 rounded-50 text-white p-3 fs-5" %>
    </div>
  <% end %>
</div>
