<div class="mobile-container d-flex flex-column align-items-center gap-20 padding-horizontal-15 padding-bottom-120">
  <%= render "shared/side_panel_header", title: "Tu plantes quoi ?", back_button: true, delete_button: false %>
  <div class="form-container w-100 d-flex flex-column">
    <!-- choix de la culture -->
    <%= form_with(model: Culture.new, local: true, class:"w-100") do |f| %>
      <div class="position-relative">
        <i class="fa-solid fa-chevron-down fa-2xl fs-6 icon-input-position"></i>
        <%= f.select :name, Culture::CULTURE_NAME,
                   { prompt: "Choisissez une culture", selected: Culture::CULTURE_STATUS.first },
                   { class: "form-label custom-input back-gray-input select-culture"}%>
      </div>
      <!-- choix du statut de la culture -->
      <div class="position-relative">
        <i class="fa-solid fa-chevron-down fa-2xl fs-6 icon-input-position"></i>
        <%= f.select :status, Culture::CULTURE_STATUS,
                   { prompt: "Choisissez un statut", selected: Culture::CULTURE_STATUS.first },
                   { class: "custom-input back-gray-input select-culture"  } %>
      </div>
      <!-- choix de la date plantation -->
      <div>
        <%= f.date_field :plantation_date, class: "custom-input back-gray-input", value: Date.today%>
      </div>
      <!-- choix de terre ou pot -->
      <div class= "form-container">
        <div class="flight-types align-items-center w-100 ">
          <div class="radio-group single-button h-64">
            <div class="radio-option flight-type ">
              <%= f.radio_button :in_ground, 'true', class: 'form-check-input back-gray-input', checked: true %>
              <%= f.label :in_ground_true, "en terre", class: 'form-check-label' %>
            </div>
            <div class="radio-option flight-type ">
              <%= f.radio_button :in_ground, 'false', class: 'form-check-input back-gray-input' %>
              <%= f.label :in_ground_false, 'en pot', class: 'form-check-label' %>
            </div>
          </div>
        </div>
        <!-- choix de intérieur/extérieur -->
        <div class="flight-types w-100 ">
          <div class="radio-group single-button h-64">
            <div class="radio-option flight-type ">
              <%= f.radio_button :outdoor, 'true', class: 'form-check-input back-gray-input', checked: true %>
              <%= f.label :outdoor_true, 'dehors', class: 'form-check-label' %>
            </div>
            <div class="radio-option flight-type ">
              <%= f.radio_button :outdoor, 'false', class: 'form-check-input back-gray-input' %>
              <%= f.label :outdoor_false, 'dedans', class: 'form-check-label' %>
            </div>
          </div>
        </div>
      </div>
      <!-- validation -->
      <div>
        <%= f.submit "Ça pousse !", class: "h-64 btn btn-warning text-white w-100 rounded-50 p-3 fs-5" %>
      </div>
    <% end %>
  </div>
</div>
